.pokemon-card-main{
    padding: 10px;
    margin-bottom: 10px;
    border: 3px solid;
    border-radius: 5%;
    background-color: black;
}

.pokemon-card-header{
    display: flex;
    justify-content: space-between;
    color: white;
    padding: 10px;
}

.pokemon-card-header h4{
    font-weight: bold;
}

.pokemon-card-header-stats{
    display: flex;
    flex-direction: column;
}

.pokemon-card-image-container{
    border: 3px solid;
    border-radius: 5%;
    display: flex;
    justify-content: center;
    height: 200px;
    background-color: rgba(255,255,255,0.15);
}

.pokemon-card-description{
    border: 3px solid transparent;
    border-radius: 5%;
    margin-top: 10px;
    height: 200px;
    background-color: rgba(255,255,255,0.10);
    color: white;
}

.pokemon-card-description div{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid rgba(255,255,255,0.2);
}

.pokemon-card-description div:last-child{
    border-bottom: none;
}