.body-content {
  height: calc(100vh - 99px);
}

.body-content>.row {
  height: 100%;
}

.full-width {
  width: 100%;
}

.main-content{
  padding: 15px;
}

.pr-15 {
  padding-right: 15px;
}

.ml-auto {
  margin-left: auto;
}

.bg-navbar-orange {
  background-color: #e3350d;
  border-bottom: 3px solid #ffcb04;
  /*height: 90px;*/
}

.bg-navbar-orange img {
  max-height: 70px;
  margin-left: 15px;
}

.bg-navbar-orange .nav-link {
  color: white;
  font-size: 20px;
}

.bg-navbar-orange .nav-link:hover {
  color: #ffcb04;
}

.bg-navbar-orange .form-control {
  height: 50px;
  border-radius: 15px;
}

.filter-bar {
  border-right: 3px solid #dfe5ee;
}



/*******************************************/
/*Inputs laterales y sus colores*/

.left-input-container{
  margin-bottom: 15px;
  margin-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
}

.input-type{
  border-radius: 20px !important;
  border-color: transparent !important;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.grass {
    background-color: rgb(90, 217, 90) !important;
    
}

.fire {
    background-color: rgb(255, 69, 58) !important;
}

.water {
    background-color: rgb(58, 167, 255) !important;
}

.electric {
    background-color: rgb(255, 215, 0) !important;
}

.ice {
    background-color: rgb(173, 216, 230) !important;
}

.poison {
    background-color: rgb(156, 39, 176) !important;
}

.ground {
    background-color: rgb(103, 87, 37) !important;
}

.fighting {
    background-color: rgb(255, 25, 105) !important;
}

.bug {
    background-color: rgb(255, 40, 198) !important;
}

.rock {
    background-color: gray !important;
}

.ghost {
    background-color: rgb(126, 97, 131) !important;
}

.dragon {
    background-color: orange !important;
}

.psychic {
    background-color: rgb(199, 36, 228) !important;
}

.dark {
    background-color: rgb(58, 58, 58) !important;
}

.fairy {
    background-color: rgb(255, 215, 170) !important;
}

.normal {
    background-color: rgb(153, 153, 153) !important;
}

.steel {
    background-color: rgba(77, 63, 36, 0.751) !important;
}

.flying {
    background-color: rgba(33, 221, 217, 0.751) !important;
}


/***/


@media (max-width: 991px) {
  .bg-navbar-orange {
    height: auto;
  }
}