.body-content {
  height: calc(100vh - 99px);
}

.body-content>.row {
  height: 100%;
}

.full-width {
  width: 100%;
}

.main-content{
  padding: 15px;
}

.pr-15 {
  padding-right: 15px;
}

.ml-auto {
  margin-left: auto;
}

.bg-navbar-orange {
  background-color: #e3350d;
  border-bottom: 3px solid #ffcb04;
  /*height: 90px;*/
}

.bg-navbar-orange img {
  max-height: 70px;
  margin-left: 15px;
}

.bg-navbar-orange .nav-link {
  color: white;
  font-size: 20px;
}

.bg-navbar-orange .nav-link:hover {
  color: #ffcb04;
}

.bg-navbar-orange .form-control {
  height: 50px;
  border-radius: 15px;
}

.filter-bar {
  border-right: 3px solid #dfe5ee;
}



/*******************************************/
/*Inputs laterales y sus colores*/

.left-input-container{
  margin-bottom: 15px;
  margin-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
}

.input-type{
  border-radius: 20px !important;
  border-color: transparent !important;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.input-fuego{
    color: white !important;
    background-color: red !important;
}

.input-psiquico{
    color: white !important;
    background-color: purple !important;
}

.input-planta{
    color: white !important;
    background-color: green !important;
}

.input-agua{
    color: white !important;
    background-color: blue !important;
}

/*******************************************/
/*Paginacion*/

.pagination-container{
  display: flex;
  justify-content: center;
  margin-top: 30px;
  gap: 10px;
}

.pagination-btn {
    padding: 8px 14px;
    background-color: white;
    border: 2px solid rgb(226, 232, 240);
    border-radius: 30%;
    cursor: pointer;
    font-weight: bold;
}

.pagination-btn.active {
    background-color: rgb(277, 53, 13);
    border-color: rgb(277, 53, 13);
    color: white;
}

.pagination-btn:disabled {
    opacity: 0.4;
    cursor: not-allowed;
}

/*******************************************/
/*Media querys*/

@media (max-width: 991px) {
  .bg-navbar-orange {
    height: auto;
  }
}